.demo a {
	/* background-color: rgb(253, 253, 186); */
	padding: 0.5ex 1ex;
}

.MathJax_Display {
	overflow-y: hidden;
}

.table tbody {
	background-color: rgb(250, 250, 240	);
}

.table thead {
	background-color: rgb(95,95,95);
	color:rgb(253, 253, 186);
}

.std-term {
	font-weight: bolder;
}

