# Book settings
title: Fundamentals of Numerical Computation
author: Tobin A. Driscoll and Richard J. Braun
logo: logo.png

latex:
  latex_documents:
    targetname: book.tex

kernelspec:
  name: julia-1.4
  display_name: Julia 1.4.1
  language: julia
  
execute:
  execute_notebooks: cache
  timeout: 120

sphinx:
  config:
    mathjax_config:
      TeX:
        Macros:
          "float": ["\\mathbb{F}"]
          "real": ["\\mathbb{R}"]
          "complex": ["\\mathbb{C}"]
          "nat": ["\\mathbb{N}"]
          "integer": ["\\mathbb{Z}"]
          "rmn{([^}]*)}{([^}]*)}" : ["\\mathbb{R}^{#1 \\times #2}",2]
          "dd{([^}]*)}{([^}]*)}" : ["\\frac{d #1}{d #2}",2]
          "ddd{([^}]*)}{([^}]*)}" : ["\\frac{d^2 #1}{d #2^2}",2]
          "pp{([^}]*)}{([^}]*)}" : ["\\frac{\\partial #1}{\\partial #2}",2]
          "ppp{([^}]*)}{([^}]*)}" : ["\\frac{\\partial^2 #1}{\\partial #2^2}",2]
          "ppdd{([^}]*)}{([^}]*)}{([^}]*)}" : ["\\frac{\\partial^2 #1}{\\partial #2 \\partial #3}",3]
          "norm{([^}]*)}" : ["\\| #1 \\|",1]
          "twonorm{([^}]*)}" : ["\\| #1 \\|_2",1]
          "onenorm{([^}]*)}" : ["\\| #1 \\|_1",1]
          "infnorm{([^}]*)}" : ["\\| #1 \\|_\\infty",1]
          "anynorm{([^}]*)}{([^}]*)}" : ["\\| #1 \\|_#2",2]
          "infnorm{([^}]*)}" : ["\\| #1 \\|_\\infty",1]
          "innerprod{([^}]*)}{([^}]*)}" : ["\\langle #1,#2 \\rangle",2]
          "pr{([^}]*)}" : ["^{(#1)}",1]
          "kron{([^}]*)}{([^}]*)}" : ["#1 \\otimes #2",2]
          "eye{([^}]*)}" : ["\\mathbf{e}_#1",1]
          "meye" : ["\\mathbf{I}"]
          "Qhat" : ["\\hat{\\mathbf{Q}}"]
          "Rhat" : ["\\hat{\\mathbf{R}}"]
          "bfalpha": ["\\mathbf{alpha}"]
          "bfdelta": ["\\mathbf{delta}"]
          "bfzero": ["\\boldsymbol{0}"]
          "macheps": ["\\epsilon_\\text{mach}"]
          "fl": ["\\operatorname{fl}"]
          "diag": ["\\operatorname{diag}"]
          "ign": ["\\operatorname{sign}"]
          "Re": ["\\operatorname{Re}"]
          "Im": ["\\operatorname{Im}"]
          "ee": ["\\times 10^"]
          "lnorm": ["\\|"]
          "rnorm": ["\\|"]
          "floor": ["\\lfloor#1\\rfloor",1]
    proof_theorem_types:
      "algorithm": "Algorithm"
      "conjecture": "Conjecture"
      "corollary": "Corollary"
      "definition": "Definition"
      "demo": "Demo"
      "example": "Example"
      "function": "Function"
      "lemma": "Lemma"
      "observation": "Observation"
      "proof": "Proof"
      "property": "Property"
      "myrule": "Rule"
      "theorem": "Theorem"
    proof_html_nonumbers:
      "demo": "Demo"
      "observation": "Observation"
      "proof": "Proof"
      "rule": "Rule"
     
  extra_extensions:
  - sphinxcontrib.proof
#  - sphinxcontrib.rsvgconverter

# Information about where the book exists on the web
repository:
  url                       : https://github.com/tobydriscoll/tobydriscoll.github.io/  # Online location of your book
  book_path                 : unlinked/fnc  # Optional path to your book, relative to the repository root
  branch                    : master  # Which branch of the repository should be used when creating links (optional)

# launch_buttons:
#   binderhub_url: "https://mybinder.org"  # The URL for your BinderHub (e.g., https://mybinder.org)
#   thebelab: true